
<% for(let i = 0; i < 10; i++){
  if ( i % 2 === 0){ txt = "even"
} else { txt = "odd" } %>
  <li><%= i %> - <%= txt %></li>
<% } %>

  <br />
  <br />
  <br />
<%for(let i = 0; i < 10; i++) { %>
    <li><%= i %></li>
<% } %>
  
  <br />
  <br />
  <br />
  
<script>
  for(let i = 0; i < 10; i++ ) {
    document.write(`<li>Test2</li>`)
  }
</script>